/* First section starts here*/
body{
    margin:0;
    }
section{
    width:90%;
    margin:0 auto;
}
.half-width{
    width:50%;
}
.half-width img{
    width:80%;
    margin:0 auto;
}
.flexible-display{
    display: flex;
    margin-bottom:70px;
}
.font-style h1{
    font-size: 60px;
    font-family: 'Cormorant Garamond', serif;
    color:rgb(70, 62, 62);
    line-height: 35px;

}
span{
    color:rgb(247, 169, 54);
    margin-top:0;
}
.font-style::before{
    content: "";
    height:120px;
    width:5px;
    background:rgb(245, 75, 75);
    float:left;
    border-radius:5px;
    margin-right:15px;
}
p{
    font-family: 'Poppins', sans-serif;
    color:rgb(59, 55, 55);
    margin-bottom:30px;
}
p small{
    font-family: 'Poppins', sans-serif;
    margin-top:30px;
    display:inline-block;
}
a{
    text-decoration: none;
    background-color:rgb(245, 75, 75);
    padding:10px 40px;
    border-radius:5px;
    color:white;
    font-family: 'Poppins', sans-serif;
    }
.margin-top{
    margin-top:100px;
}
/* First section ends here*/

/* Second section stars here*/
.text-alignment{
    font-size:50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align:center;
    color:rgb(16, 16, 63);
}
h2{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.background-color1{
    width:250px;
    background-color:rgb(223, 228, 238);
    padding: 25px;
    border-radius:7%;
}
.background-color2{
    width:250px;
    background-color:rgb(253, 230, 247);
    padding: 25px;
    border-radius:7%;
}
.background-color3{
    width:250px;
    background-color:rgb(241, 229, 243);
    padding: 25px;
    border-radius:7%;
}

.image-resize{
    width:150px;
    
}

.flexible-and-justify{
    display:flex;
    justify-content: space-between;
    margin-bottom:70px;
}
/* Second section ends here*/
/* Third section stars here*/
.font-style-third-section{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size:25px;
    line-height: 18px;
}
/* fifth section stars here*/
.border-maintain img{
    border-radius:20px;
}
.font-style-section{
    font-family: 'Poppins', sans-serif;
}
.background-style{
    background-color:rgb(247, 236, 222);
    padding:10px;
}
h4{
    border:1px solid rgb(231, 221, 207);
    padding:10px;
    
}
.para-style{
       background-color:rgb(243, 242, 240);
       padding:10px;
}
/* fifth section ends here*/

/* Third section ends here*/


/*Footer section starts here*/
 .footer{
    font-family: 'Yellowtail', cursive;
    background-color:rgb(1, 2, 20);
    padding:20px;
    color:white;
    text-align: center;
 }
 
/*Footer section starts here*/